.navbar-container {
  height: 10vh;
  width: 100%;
  background-color: #272727;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.website-logo {
  margin-left: 10px;
  margin-top: 20px;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

.list-item {
  color: #ffffff;
  font-size: 32px;
  font-family: 'Roboto';
  font-weight: bold;
  margin-right: 30px;
  margin-top: 10px;
}
.logout-button {
  height: 5vh;
  width: 12vh;
  background-color: blue;
  color: #ffffff;
  border-radius: 12px;
  font-size: 15px;
  font-family: 'Roboto';
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 18px;
}
.link-item {
  text-decoration: none;
}
